/** Florian **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1590880449155-b54f958ce314?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGlyYXRlbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

#navbar_company {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

#comp_icon {
    background-color: aqua;
    flex-basis: 5em;
}

#comp_navigation {
    flex-basis: 50%;
}

#comp_navigation ul {

    display: flex;
    justify-content: space-around;
}

#comp_navigation li {
    padding: 1em;
    color: white;
    list-style: none;
    font-size: 1.5em;
}

#user_image {
    max-block-size: 5em;
}


#navbar_game {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

#game_navigation {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 2%;
}

#game_navigation #game_icon {
    flex-basis: 10%;
    background-color: blue;
}

#game_navigation ul {
    flex-basis: 50%;
    display: flex;
    list-style: none;
}

#game_navigation li a {
    padding: 1em;
    color: white;
}

#game_navigation #registry a {
    padding: 0em 2em;
}

#game_navigation #registry #sign_up {
    color: yellow;
}

#game_navigation #registry #preorder {
    background-color: yellow;
    color: black;
}

#side_nav {
    padding-top: 40vh;
    /*visibility: hidden;*/
}

#side_nav:hover {
    visibility: visible;
}

#side_nav li {
    padding: 0.2em;
    margin: 0.2em;
}

#side_nav a {
    color: antiquewhite;
    background-color: black;
    padding: 0.2em;
    font-size: 0.9em;
}

#header_content {
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#game_logo {
    background-color: blueviolet;
    align-self: center;
    max-height: 7.5em;
}

#head_anouncment {
    align-self: center;
    flex-basis: 50%;
    max-width: 30%;
    color: whitesmoke;
    font-size: 2em;
}

#pseudo_video {
    max-width: 30%;
    align-self: flex-end;
}

/** gerald **/

.content{
    background-color: rgb(41, 41, 41);
}

.content button{
    background-color: rgb(197, 163, 60);
    border: none;
    height: 30px;
    width: 100px;
   
}

.content button:hover{
    background-color: white;
    color: black;   
}

p{
    color: rgb(203, 203, 203);
}

article{
    background-color: rgb(41, 41, 41);
}

article:nth-child(n+1){
    padding-top: 8vw;
}

article h1{
   font-size: 2rem;
   align-self: center;
   padding: 0vw 0 3vw 0;
   color: white;
}

article h2,h3,a{
    color: rgb(197, 163, 60);
}

article section div:nth-child(n + 1){
    margin-top: 2vw;
}

article section div:last-child{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
article section div:last-child button{

    align-self: center;
   }

article h3{
    font-size: 2vw;
}

article h4{
    font-size: 2rem;
}

.news{

    padding-top: 2vw;
    color: white;
    display: flex;
    align-items: flex-start;
}

.newsgroup> div{
margin-top: 2vw;
}

.topnews>figure{
    padding-top: 2vw;
}


.newsgroup img{
    width: 25vw;
    height: 15vw;
}

.newsgroup>div>ul{
    margin-top: 2vw;
    list-style: none;
    margin-left: 1vw;
}

.newsgroup>div>ul>li{
    margin-top: 0.5vw;
}

.news section {
    width: 50vw;
}

.topnews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    width: 80%;
    height: 50%;
}

.topnews> div{
    padding: 2vw 0 0 4vw;
}

.topnews>figure>img{
    width: 40vw;
    height: 20vw;
}
.newsgroup div{
    display: flex;
}



.news img{
    border: solid rgb(106, 106, 106) 2px;
}

.extra > h2{
    padding-bottom: 3vw;
    font-size: 4vw;
}

.extra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extra figure{
    position: relative;
    margin-top: 2vw;
    border: solid grey 2px;
}

.extra figure img{
    width: 80vw;
    height: 30vw;
    border: none;
}

.extra figure>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.extra figure>div>p{
    padding-top: 2vw;
}
/** Worldbuilding**/

#worldbuilding{
    margin: 5vw;

}

#worldbuilding section{
    display: flex;
}

#worldbuilding section>*:nth-child(n){
flex-basis: 50%;
}


@media only screen and (max-width: 600px) {

    #news,#worldbuilding section{
        flex-direction: column;
    
    }
     
}




/** Nico **/


.preorder {
    display: flex;
    flex-wrap: wrap;
    background-color: (41, 41, 41);
    color: white;
}

.vorbestellen{
    width: 100%;
    background-color: rgb(117, 116, 116);
    justify-content: flex-start;
    align-items: flex-start;
}

.vorbestellen > img{
    border: solid 1px red;
    justify-content: flex-end;
}


.vorbestellen > figcaption{
    border: solid orange 1px;
    float: left;
    
    
}

.vorbestellen > p{
    border: solid orange 1px;
    float: left;
    
}


.livephase{
    width: 100%;
    background-color: rgb(41,41,41);
    display: flex;
    align-items: flex-end;
}


.livephase > img{
    justify-content: flex-start;
}








footer {
    background-color: rgb(8, 110, 15);
}

.socials {
    padding: 1em;
    background-color: rgb(88, 36, 36);
    display: flex;
     

}

.socials > h2{
    color: white;
    font-size: 0.75em;
}

.socials > a > img{
    width: 30px;
    height: 30px;
    justify-content: space-around;
}


.spalten{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    max-width: 100%;
}


.corporate {
    background-color: rgb(26, 30, 45) ;
    width: 25%;
    justify-content: flex-start;
    
}

.corporate > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}


.brand {
background-color: black;
    width: 33%;
    
    display: flex;
    
}

.brand{
    color: white;
}

.studios > a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
 
.plattformen{
    background-color: grey;
    width: 50%;
    color: white;
    align-items: baseline;
}

.plattformen > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

